.page .Photo{
    display: flex;
    flex-direction: column;
    align-items: right; /* Center content horizontally */
    height: 575px;
    width: 575px;
    margin-left: 130px;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%; 
    margin-top: 70px;
    margin-left: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color: #496989;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #496989;
    font-size: 48px;
    font-weight: 700;
    font-family: roboto mono;
}
.started{
    margin-left: 65px;
    margin-top: 15px;
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.underline{
    width: 50px;
    height: 6px;
    background: #496989;
    border-radius: 9px;
}

.inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 75%;
    height: 65px;
    background: #eaeaea;
    border-radius: 6px;
}

.input .icon{
    margin: 0px 20px;
}

.input input{
    height: 50px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.forgot-password{
    padding-left: 65px;
    color: #797979;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

.forgot-password span{
    color: #496989;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 50px;
    color: #fff;
    background-color: #496989;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

.gray{
    background: #eaeaea;
    color: #676767;
}